* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.descuento {
    background-color: #1CD1B0;
    font-size: 25px;
    padding: 5px 15px;
}

h1 {
    color: #FFF;
    background: #00669F;
    border: 1px solid #000000;
    font-size: 50px;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
    font-weight: normal;
    padding: 10px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}
.card {
    height: 715px;
    max-width: 400px;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
   -webkit-border-radius: 20px 20px 0 0;
   -moz-border-radius: 20px 20px 0 0;
   -ms-border-radius: 20px 20px 0 0;
   -o-border-radius: 20px 20px 0 0;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;

}

.card-img img {
   width: 100%;
   height: 270px;
   border-radius: 20px 20px 0 0;
   -webkit-border-radius: 20px 20px 0 0;
   -moz-border-radius: 20px 20px 0 0;
   -ms-border-radius: 20px 20px 0 0;
   -o-border-radius: 20px 20px 0 0;
   object-fit: cover;
   object-position: center;
}

.img-heroe {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 22%;
    right: 25%;
}

.img-heroe img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
}

h2 {
    font-size: 35px;
}

.card-text {
    margin-top: 115px;
}

.card-text p {
    margin: 25px 30px;
    text-align: justify;
    line-height: 25px;
}


 .btn {
    background-color: #00669F;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 7px;
 }

 .fa-heart {
     position: absolute;
    color: #CC2424;
    font-size: 35px;
    top: 15px;
    left: 15px;
 }

 .fa-plus-circle {
    color: #00669F;
    font-size: 55px;
    position: fixed;
    right: 40px;
    top: 50%;
    cursor: pointer;
 }

 footer {
     background-color: #00669F;
     color: white;
     text-align: center;
    
    }

    footer p {
    padding: 35px;
    }