:root {
    --color-principal: #00669F;
    --color-navegacion: #001D2D; 
    --color-secundario: #1CD1B0;
    --btn-reset: #888;
    --bg-card-detail: #F3F3F3;
    --bg-footer-card-detail: #2C0187;

}